<!-- section  testimonials-->
<section class="testimonials">
    <div class="wrapper">
        <h2 class="testimonials__title">People Are Talking About Fork</h2>
        <ul class="testimonials__list">
            <li class="testimonials__list-item">
                <img src="../dist/img/smashing.png" alt="logo" class="testimonials__item-img--smashing" width="165"
                    height="43">
                <p class="testimonials__item-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                    Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
            </li>
            <li class="testimonials__list-item">
                <img src="../dist/img/codrops.png" alt="logo" class="testimonials__item-img--codrops" width="148"
                    height="50">
                <p class="testimonials__item-text">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
                    rhoncus molestie neque ac, mollis eleifend nibh.</p>
            </li>
            <li class="testimonials__list-item">
                <img src="../dist/img/w.png" alt="logo" class="testimonials__item-img--w" width="64" height="64">
                <p class="testimonials__item-text">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
                    fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.</p>
            </li>
            <li class="testimonials__list-item">
                <img src="../dist/img/pixel_buddha.png" alt="logo" class="testimonials__item-img--pixel" width="225"
                    height="24">
                <p class="testimonials__item-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                    Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
            </li>
            <li class="testimonials__list-item">
                <img src="../dist/img/creative_bloq.png" alt="logo" class="testimonials__item-img--creative" width="166"
                    height="34">
                <p class="testimonials__item-text">Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
                    Nulla faucibus lorem id arcu consequat faucibus.</p>
            </li>
            <li class="testimonials__list-item">
                <img src="../dist/img/tnw.png" alt="logo" class="testimonials__item-img--tnw" width="108" height="34">
                <p class="testimonials__item-text">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
                    Pellentesque porttitor cursus massa et vestibulum.</p>
            </li>
        </ul>
        <p class="testimonials__text">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae
            aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </div>
</section>